.wrapper {
    background-color: #343434;
    margin: 0 auto;
    width: 600px;
    height: 300px;
}

.inner-wrapper {
    width: 500px;
    height: 150px;
    color: beige;
    display: flex;
    flex-direction: column;
}

.input {
    padding: 10px;
}

.form-button {
    width: 120px;
    padding: 10px;
    background-color: #ffaa06;
    color: azure;
}